{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Minha dieta{% endblock %}</title>
	<meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'images/lab-exames.png' %}" >
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <link href="{% static 'css/form.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

</head>

<body>

    {% block body %}{% endblock %}


	<footer id="rodape">
		<p>Copyright © {% now 'Y' %} - by Abraão Vila Nova e Lucas Ravellys</p>
	</footer>


</body>
</html>