{% extends 'base/base.html' %}
{% load static %}
{% block title %}FitBox{% endblock title %}

{% block body %}
	<div id="interface">
			<img id="img-logo" src="{% static 'images/logo-index.png' %}" alt="FitBox"/>
			<div id="meus-pacientes">
				<a href="templates-apps/paciente-cadastrado.html">
					<p><img class="img-paciente" src="{% static 'images/pacientes.png' %}"/><p>
					<p>Meus Pacientes</p>
				</a>
			</div>
			<div id="novo-paciente">
				<a href="base/cadastro-pacientes.html">
					<p><img class="img-paciente" src="{% static 'images/novo-paciente.png' %}"/></p>
					<p>Adicionar Paciente</P>
				</a>
			</div>
    </div>
{% endblock %}

