{% extends 'base/base.html' %}
{% load static %}
{% block title %}FitBox{% endblock title %}

{% block body %}
	<div id="interface">
			<img id="img-logo" src="{% static 'images/logo-index.png' %}" alt="FitBox"/>
			<div id="meus-pacientes">
				<a href="{% url 'cadastro:indice' %}">
					<p><img class="img-paciente" src="{% static 'images/pacientes.png' %}"/><p>
					<p>Meus Pacientes</p>
				</a>
			</div>
			<div id="novo-paciente" >
				<p class="align-content-center"><img class="img-paciente" src="{% static 'images/novo-paciente.png' %}"/></p>

                <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                  </div>
                </div>
                <button id="novo-cadastro" class="btn btn-primary align-items-center" type="button" name="button">Adicionar Paciente</button>
			</div>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {

    $("#novo-cadastro").modalForm({
        formURL: "{% url 'cadastro:cadastro_paciente_popup' %}"
    });

    });
    </script>


{% endblock %}

