<!DOCTYPE html>
<html>
<head>
	<title>Meus Parcientes</title>
	<meta charset="UTF-8">
	<style type="text/css">
		body{
			font-family: sans-serif;
		}

		ul#menu-paciente {
			list-style: none;


		}

		ul#menu-paciente li{
			display: inline;
		}



	</style>

</head>

<body>
	<h1> Menu paciente </h1>
	<ul id="menu-paciente">
		<li><a href="meus-pacientes.html">Meus Parcientes</a></li>
		<li><a href="../../../../cadastro_paciente/templates/cadastro_paciente/cadastro-pacientes.html">Adicionar Paciente</a></li>
	</ul>

	
</body>
</html>